@import url('https://fonts.googleapis.com/css?family=Courgette|Francois+One|Patua+One|Righteous|Staatliches|Germania+One');

body {
  background-color: #212529;
  color: white;
  font-size: 1.5vw;
  text-decoration: none;
}

p {
  font-family: 'Francois One', sans-serif;
  text-align: justify;  
  -moz-text-align-last: center; /* Code for Firefox */
  text-align-last: center;
}

.package-heading {
  text-align: center;
  font-family: 'Francois One', sans-serif;
  font-size: 2vw;
}

.card {
  border: none;
}

.card-body {
  font-family: 'Francois One', sans-serif;
  background-color: #212529;
}

.card-title {
  font-family: 'Francois One', sans-serif;
  font-size: 2vw;
}

.card-text {
  color: #c1c1c1;
  font-family: 'Francois One', sans-serif;
  text-align: left; 
  -moz-text-align-last: left; /* Code for Firefox */
  text-align-last: left;
}

.bts-nav {
  font-family: 'Staatliches', cursive;
  color: gray;
  padding: none;
  margin: none;
}

.bts-page-heading {
  text-align: center;
  font-family: 'Germania One', cursive;
  font-size: 96px;
  margin-bottom: -12px;
}

.bts-store-heading-nav {
  text-align: center;
  margin-top: 12px;
}

.nav-item {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

@media (max-width: 1440px)
{
  .nav-item {
    font-size: 30px;
  }

  .bts-page-heading {
    font-size: 72px;
  }
}

@media (max-width: 1024px)
{
  .nav-item {
    font-size: 24px;
  }

  .bts-page-heading {
    font-size: 54px;
  }
}

@media (max-width: 768px)
{
  .nav-item {
    font-size: 24px;
  }

  .bts-page-heading {
    font-size: 36px;
  }
}

@media (max-width: 425px)
{
  .nav-item {
    font-size: 20px;
  }

  .bts-page-heading {
    font-size: 28px;
  }
}



.carousel-title {
  font-family: 'Righteous', cursive;
  font-size: 8vw;
}

.carousel-subtitle {
  font-family: 'Patua One', cursive;
  font-size: 2.5vw;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}



.bts-hr-white {
  border-color: #999999
}

.package-options {
  font-family: 'Patua One', cursive;
  text-align: justify;
  font-size: 1.2vw;
  -moz-text-align-last: left; /* Code for Firefox */
  text-align-last: left;
}

.package-heading-form {
  font-family: 'Francois One', sans-serif; 
  font-size: 2.3vw;
}

.package-notification {
  font-family: 'Francois One', sans-serif; 
  font-size: 30px;
}

.package-price {
  color: lightslategray;
  font-family: 'Francois One', sans-serif; 
  font-size: 24px;
}

.form-button {
  width: 100%;
  height: 90%;
  font-family: 'Francois One', sans-serif; 
  font-size: 2.3vw;
}

.form-total {
  font-family: 'Francois One', sans-serif; 
  font-size: 2.3vw;
  padding: none;
  margin: none;
  text-align: left;
  -moz-text-align-last: left; /* Code for Firefox */
  text-align-last: left;
}

.form-total-money {
  font-family: 'Francois One', sans-serif; 
  font-size: 2.3vw;
  padding: none;
  margin: none;
  text-align: right;
  -moz-text-align-last: right; /* Code for Firefox */
  text-align-last: right;
}